body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f8fafc;
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 188px;
  background-color: #1e293b;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 18px 16px;
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.sidebar-logo img {
  width: 130px;
  border-radius: 10px;
}

.sidebar a {
  color: #cbd5e1;
  text-decoration: none;
  margin: 4px 0;
  padding: 8px 10px;
  border-radius: 6px;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #334155;
  color: white;
}

.sidebar a::before {
  content: attr(data-icon);
  margin-right: 8px;
  font-size: 24px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .sidebar {
    width: 90px;
    padding: 14px 10px;
    min-height: 100dvh;
  }

  .sidebar-logo img {
    width: 60px;
  }

  .sidebar a {
    margin: 6px 5px;
    justify-content: center;
    font-size: 0;
    padding: 12px 8px;
  }

  .sidebar a::before {
    font-size: 24px;
    margin-right: 0; /* tengah-tengah */
  }
}
